<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Custom CSS Stylesheet -->
    <link rel="stylesheet" href="styles.css">

</head>
<body data-bs-spy="scroll" data-bs-target="#navbar-example3">

    <nav id="navbar-example3" class="navbar navbar-dark bg-dark p-3 sticky-top navbar-expand-custom">

        <div class="container-fluid">
        <a class="navbar-brand" href="/">ICS3U Reflection</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav nav-pills ms-auto">
            
            <li class="nav-item">
                <a class="nav-link" href="#item-1">Takeways</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#item-2">Next Year</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#item-3">Things I Would Improve</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#item-4">Concepts / Recap</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#item-5">What I was Exicted to Learn</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#item-6">What I'm Most Proud Of</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#item-7">Credits</a>
            </li>
            
            </ul>

        </div>
        

        </div>
        
    </nav>


    <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0">

        <div class="p-5 mb-4 bg-light rounded-3" id="item-1">
        <div class="container-fluid py-5">
            <h2 class="display-5 fw-bold" >What is the Technology?</h2>
            <p class="col-md-8 fs-4">The metaverse is a term used to describe how we’ll interact with each other and technology in the future, a virtual space that augments our interaction in a variety of different industries from entertainment to eCommerce. The CEO and Co-founder of Meta, Mark Zuckerberg stated, “The next [internet] platform and medium will be even more immersive, an embodied internet where you’re in the experience, not just looking at it.” This statement proves that he believes that the internet is still in its infancy, as we become more connected we need to improve the technology to become more immersive, where reality is intertwined with technology. The metaverse will be that technology that interacts with everyone and augments their world, building a smarter more virtual future where distance is not a concern. In conclusion, the metaverse is a broad term for a virtual connected space, where people can work, play, and socialize.</p>
        </div>
        </div>

        <div class="p-5 mb-4 bg-light rounded-3" id="item-2">
        <div class="container-fluid py-5">
            <h2 class="display-5 fw-bold" >How does it Work?</h2>
            <p class="col-md-8 fs-4">Technology that currently founds the metaverse isn’t completely invented yet, but with many big budget companies are working on creating the foundation to make it happen, from VR headsets that scan your face and the world around you to recreate it, to a stylish pair of AR glasses that augments the world. Matthew Ball a venture capitalist wrote in his essay “The Metaverse is a massively scaled and interoperable network of real-time rendered 3D virtual worlds which can be experienced synchronously and persistently by an effectively unlimited number of users with an individual sense of presence, and with continuity of data, such as identity, history, entitlements, objects, communications, and payments.” This explains what the metaverse promises, and companies such as Meta are creating new technology with sensors and cameras to interact with and augment the world around them. Therefore, the metaverse isn’t a singular piece of technology; it requires a full variety of tech from the augmented and virtual headsets to the software that will interact with the inputs given by the hardware cameras and sensors.</p>
        </div>
        </div>

        <div class="p-5 mb-4 bg-light rounded-3" id="item-3">
        <div class="container-fluid py-5">
            <h2 class="display-5 fw-bold" >Give some examples of ways this technology is used today, or explain why it isn’t used yet.</h2>
            <br>
            <p class="col-md-8 fs-4">This technology continues to improve and become more advanced, this is just the beginning of the metaverse. Even though saying the metaverse has already become live and started, with VR headsets and AR glasses.</p>
            
            <h3>Technologies of Metaverse Today:</h3>
            <ul>
            
            <li>Facebook x Ray Ban Glasses (Ray ban Stories)</li>
            <li>VR Headsets</li>
            <li>AR Phones</li>
            </ul>

            <h3>Services of Metaverse Today:</h3>
            <ul>
            <li><strong>Games:</strong> Variety of games are made in VR, with game engines catering to creating VR games</li>
            <li><strong>Ray Ban Stories:</strong> you can take pictures, post, and record moments right through your glasses with Facebook Ray Bans, no phone needed</li>
            </ul>

            <p class="col-md-8 fs-4">Currently the gateway to the metaverse are video games, because games are a way to immerse yourself in a different world, and once games become more advanced so does the whole VR/AR and Mixed Reality market. We have games already out now, Second Life and VRChat are virtual social worlds where people can interact with others through a video game. </p>
        </div>
        </div>

        <div class="p-5 mb-4 bg-light rounded-3" id="item-4">
        <div class="container-fluid py-5">
            <h2 class="display-5 fw-bold" >How does this affect people’s lives now? How might it affect people’s lives in the future?</h2>
            <br>
            <h3><strong>Now:</strong></h3>
            <p class="col-md-8 fs-4">Currently the metaverse is at its infancy with very little progress made to what’s promised, but what’s promised will change how people interact with the world around them, from how we work to how to play. In an article by USA Today it explained, “Mark Zuckerberg, the CEO of the newly named Meta (formerly Facebook), estimates it could take five to 10 years before the key features of the metaverse become mainstream.” This statement proves as the metaverse is currently an idea, we have all the building blocks to make this a reality and it may come sooner than most of us think. In conclusion, currently the technology is not invented yet, though the infrastructure of the internet and VR development are the necessary materials to make the metaverse a reality in a decade.</p>     
            
            <h3><strong>Future:</strong></h3>
            <p class="col-md-8 fs-4">Future prospects of the metaverse are promising, it promises to completely redefine our lives and the internet, it can become the next evolution of the internet. On Meta Connect 2021, CEO and co-founder Mark Zuckerberg explained “You’ll be able to do almost anything you can imagine, get together with friends and family, work, learn, play, shop, create as well as entirely new categories that don’t really fit how we think about phones and computers today.” This quote explains that the metaverse is a broad subject that taps into almost every aspect and more of what we think about the internet and technology. Therefore, this new exciting technology has many promising aspects that can augment our life, and everything from family members to workplaces will be a button away.</p>
        </div>
        </div>

        <div class="p-5 mb-4 bg-light rounded-3" id="item-5">
        <div class="container-fluid py-5">
            <h2 class="display-5 fw-bold" >What opportunities are there related to the technology? Are there risks?</h2>
            <br>
            <h3><strong>Opportunities:</strong></h3>
            <p class="col-md-8 fs-4">This technology has many opportunities to change how we completely reimagine the future on the internet and technology itself, eCommerce, fitness, gaming, social media, and business are industries that will be affected. In a business article published by Meta, “From video calls to messaging, we are more connected than ever. However, the metaverse aims to simplify these with less friction and by enhancing physical-world experiences.” This statement shows that the metaverse will integrate the physical world into how we interact with technology, making its experience more open to everybody by creating a more streamlined, efficient way to use existing industries in the metaverse. In conclusion, the metaverse technology will make industries using its technology more efficient and streamlined with technology aiding it, making the metaverse able to change and affect almost every industry on Earth currently.</p>
            
            <h3><strong>Risks:</strong></h3>
            <p class="col-md-8 fs-4">With big tech companies creating these services, that means that these companies will have even more power and influence than they currently have in the world, with deciding who is allowed to use their services and having majority control over the internet. MSNBC in an article about the metaverse’s evolution, “Imagine a company like Meta choosing to block you from access to a virtual reality space the way that Facebook can block you from using its website and app.” This segment shows that the founding companies that successfully create the metaverse will be able to control all that’s happening in and around it, you’ll have to sign off on their agreements which gives them full power over you in the metaverse. This is a great risk as non-governmental bodies have the right to censor if it doesn’t sit well with them, giving these companies more control over the world than some countries. In conclusion, if the metaverse is a private company project the company has complete control over how the metaverse runs, and as the world becomes more dependent on the metaverse the companies grow in power and have the ability to suppress and censor.</p>
        </div>
        </div>

        <div class="p-5 mb-4 bg-light rounded-3" id="item-6">
        <div class="container-fluid py-5">
            <h2 class="display-5 fw-bold" >Is there anything holding back development in this area?</h2>
            <p class="col-md-8 fs-4">Creating Augmented and Virtual reality takes a lot of processing power and interaction. We need to completely rebuild how we interact with technology and figure out how to fit more computational power into smaller devices. On Facebook’s reveal of the metaverse, their CEO stated “In a lot of ways augmented reality is even harder [than virtual reality], not just because we need to invent a completely new optical stack that’s not based on screens, but it’s because we basically need to fit a supercomputer into a pair of normal-looking glasses.” This quote shows that to create a fully integrated metaverse we need to find ways to build more powerful tech with reduced prices to make it accessible to everybody. Creating the technology that people interact with is not an easy obstacle, it will require a complete new rendering engine and tech that will run completely different from screens. Therefore, the metaverse has a lot of hurdles to overcome, from the new tech with optical lenses instead of screens to finding ways to make computers smaller, more powerful, and cheaper as we’re fitting a gaming GPU into a pair of glasses.</p>
        </div>
        </div>

        <div class="p-5 mb-4 bg-dark rounded-3" id="item-7">
            <div class="container-fluid py-5 text-white">
                <h2 class="display-5 fw-bold p-auto">Created By: Aditya Sen</h2>
                <a href="https://github.com/aditya-s3n/reflection-website"><i class="fab fa-github"></i> Gitub Repo</a>
            </div>
            </div>

        </div>
                        

    </div>

</body>
</html>