<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Custom CSS Stylesheet -->
    <link rel="stylesheet" href="styles.css">

</head>
<body data-bs-spy="scroll" data-bs-target="#navbar-example3">

    <nav id="navbar-example3" class="navbar navbar-dark bg-dark p-3 sticky-top navbar-expand-custom">

        <div class="container-fluid">
        <a class="navbar-brand" href="/">ICS3U Reflection</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav nav-pills ms-auto">
            
            <li class="nav-item">
                <a class="nav-link" href="#item-1">Takeways</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#item-2">Next Year</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#item-3">Things I Would Improve</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#item-4">Concepts / Recap</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#item-5">What I was Exicted to Learn</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#item-6">What I'm Most Proud Of</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#item-7">Credits</a>
            </li>
            
            </ul>

        </div>
        

        </div>
        
    </nav>


    <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0">

        <div class="p-5 mb-4 bg-light rounded-3" id="item-1">
        <div class="container-fluid py-5">
            <h2 class="display-5 fw-bold" >What are my Takeaways are from the Course?</h2>
            <p class="col-md-8 fs-4">
                My takeaways from this course were the concepts I learned in Python, and using Python to automate and make your life easier by reducing time to do tasks. From using functions that filter through thousands of rows of data to making GUI’s to make your program more user friendly. All the concepts / takeaways I got are in the <a href="#item-4">Concepts / Recap</a> section.</p> 
        </div>
        </div>

        <div class="p-5 mb-4 bg-light rounded-3" id="item-2">
        <div class="container-fluid py-5">
            <h2 class="display-5 fw-bold" >Am I Going to Apply Computer Sciene Next Year?</h2>
            <p class="col-md-8 fs-4">
                I will definitely take Grade 12 Computer Science next year, as I get opportunities to really express my learning and creativity in projects. These classes allow me to learn the more theoretical part of computer science, as well as using the concepts I learned and apply it into real world projects that people can use. TLDR; yes as these classes allow me to learn the theoretical part of computer science, and apply that knowledge into real world applications with practical uses. 
            </p>
        </div>
        </div>

        <div class="p-5 mb-4 bg-light rounded-3" id="item-3">
        <div class="container-fluid py-5">
            <h2 class="display-5 fw-bold" >If I were to Take This Course Again, What Would I Change?</h2>
            <br>
            <p class="col-md-8 fs-4">
                I would make better plans for myself to follow. Near the end of the year for the Tkinter summative and the Menu-based program I was able to write more efficient, readable, and modular code due to the fact that I made a comprehensive detailed plan before I started coding. The other projects were more cumbersome since I switched most things on the fly with coding, they took more time and I encountered more bugs as I continued on the project. Planning is a big part of coding, collaborating with other programmers only works if you have a plan that everyone can follow. TLDR; I would make better, more comprehensive plans for each of my projects.</p>        
        </div>
        </div>

        <div class="p-5 mb-4 bg-light rounded-3" id="item-4">
        <div class="container-fluid py-5">
            <h2 class="display-5 fw-bold" >Concepts of the Course / Recap</h2>
            <br>
            <ol class="">
                <li>
                    <h3>Variables</h3>
                    <ul>
                        <li>Hold values / data under a keyname / word</li>
                        <li>Can allow you to change values without accounting for every possibility</li>
                        <li>Allows you to set and restrict values</li>
                    </ul>
                </li>
            </ol>
        </div>
        </div>

        <div class="p-5 mb-4 bg-light rounded-3" id="item-5">
        <div class="container-fluid py-5">
            <h2 class="display-5 fw-bold" >What was I Especially Exicted to Learn?</h2>
            <p class="col-md-8 fs-4">
                I was excited to learn about collaborating with others, and the software development process. Learning to streamline and plan before the coding process of creating, understanding how to make working with a team more efficient and faster than working alone. You can learn to code by yourself, with online resources, free or not. Though learning to plan with other people to make your team more efficient is key if you want to create large programs, helping teammates, asking for help from teammates is all about working in a team.            </p>
        </div>
        </div>

        <div class="p-5 mb-4 bg-light rounded-3" id="item-6">
        <div class="container-fluid py-5">
            <h2 class="display-5 fw-bold" >What was I Most Proud of in This Course?</h2>
            <p class="col-md-8 fs-4">
                I am proud and happy of the work I did for the Tkinter FPT.  From the styling I did for the GUI, to the functionality of sumbting, changing, and updating the participants' information with the use of lists, functions, and SQL in my python application. I was able to incorporate learning I do outside of the classroom, to the concepts we learn in class, making them work in tandem to create my own creative tkinter application.             </p>
        </div>
        </div>

        <div class="p-5 mb-4 bg-dark rounded-3" id="item-7">
            <div class="container-fluid py-5 text-white">
                <h2 class="display-5 fw-bold p-auto">Created By: Aditya Sen</h2>
                <a href="https://github.com/aditya-s3n/reflection-website" class="text-white"><i class="fab fa-github"></i> Gitub Repo</a>
            </div>
            </div>

        </div>
                        

    </div>

</body>
</html>